@{
    ViewData["Title"] = "Access Denied";
    Layout = "_Dashboard";
}

<section>
    <div class="container p-5">
        <div class="align-items-center text-center">
            <h4 class="text-danger"><i class="fa fa-minus-circle"></i> Access Denied</h4>
            <p class="text-danger">Your account is locked.</p>
            <p class="text-danger">Please contact to your administrator.</p>
            <p class="text-danger">or already discussed please login again.</p>
        </div>
    </div>
</section>
